.edit-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;Center content horizontally */
    /* align-items: center;Center content vertically */
}

.simple-container{
    width: 360px;
}

.admin-wrapper {
    display: flex;
    justify-content: center; /* Center the container horizontally */
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2%;
    /* justify-content: space-between;
    align-items: center; */
}


.edit-card{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.admin-group {
    display: flex;
    flex-direction: column;
}

.select-group{
    display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.message{
    margin: 20px 0px;
    width: fit-content;
}

.display-no{
    display: none;
}