body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* header and footer take only their required space */
header, footer {
  flex-shrink: 0;/* Prevent shrinking */
  background-color: #b86bff;
  padding: 20px;
}
/* Main takes all the remaining space */
main {
  flex-grow: 1; /* Take all available space */
  display: flex; /* Make main a flex container */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center the items */
  padding: 10px 20px; /* Space around the nav items */
}

nav a {
  color: white; /* White text */
  text-decoration: none; /* Remove underline */
  padding: 10px 15px; /* Space around each link */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav a:hover {
  background-color: #555; /* Darker background on hover */
  border-radius: 5px; /* Slightly rounded corners on hover */
}

.message{
  margin: 20px 0px;
  width: fit-content;
}