.container{
    display: flex;
    flex-direction: row;
    justify-content: center;/* Center content horizontally */
    align-items: center;/* Center content vertically */
}

.signup-wrapper{ 
    width: 480px; 
    padding: 20px; 
    box-shadow: 0px 4px 8px #9050a2;
    border-radius: 20px;
}

.display-no{
    display: none;
}

.match{
    display: block;
}

.no-match{
    display: block;
}